<p>Hi <%= @user.full_name %>!</p>

<p>Task <b><%= @task.title %></b> in your donation <%= @project.title %> is complete.</p>
<p>Task detail:</p>
<p>Title: <%= @task.title %></p>
<p>Complete Tasks: <%= @project.tasks.closed %> out of <%= @project.tasks.total %></p>
<p>Total Tasks: <%= @project.tasks.count %></p>

<p>Thank you,</p>
<p>greenGoat Admin</p>
