<div class="devise-bootstrap-form">
  <div class="devise-bootstrap-form-row">
    <div class="devise-bootstrap-form-col">
      <h2 class="text-center p-3 page-title">Sign up</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'p-5' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
        <%= f.text_field :lastname, autocomplete: "lastname" %>
        <%= f.email_field :email, autocomplete: "email" %>
        <%= f.password_field :password,
              autocomplete: "new-password",
              help: "(#{@minimum_password_length} characters minimum)" %>
        <%= f.password_field :password_confirmation,
              autocomplete: "new-password",
              label_class: "required" %>

        <%= f.text_field :phone_type %>
        <%= f.text_field :address1 %>
        <%= f.text_field :address2 %>
        <%= f.text_field :city %>
        <%= f.text_field :state %>
        <%= f.text_field :zip %>
        <%= f.date_field :dob %>
        <%= f.collection_check_boxes(:roles, roles, :last, :first) do |b| %>
          <div class="form-check form-check-inline">
            <%= b.check_box class: 'form-check-input' %>
            <%= b.label class: 'form-check-label' %>
          </div>
        <% end %>

        <%= f.file_field :image %>

        <%= f.form_group do %>
          <%= f.submit "Sign up", class: "btn green-btn btn-block btn-lg" %>
        <% end %>
      <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
