<!-- START MAIN CONTENT AREA -->
<tr>
  <td class="wrapper">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <div style="text-align: center">
            <img src='http://www.greengoat.com/wp-content/uploads/2018/08/cropped-hhglhjl-2.png' style='max-width: 100px; padding-bottom: 20px;'></img>
            <h2>Donation estimation query</h2>
          </div>
          <p>Address: <%= @project.address %></p>
          <p>City: <%= @project.city %></p>
          <p>State: <%= @project.state %></p>
          <p>Zip: <%= @project.zip %></p>
          <p>Type: <%= @project.type_of_project %></p>
          <p>We could not find any house for the information provided above</p>
          <p>Thank you</p>
          <hr>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- END MAIN CONTENT AREA -->
