<nav class="navbar navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <%= image_tag 'logo.svg', height: '50px' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Home', home_path, class: 'dropdown-item' %>
          <%= link_to 'Grant Projects', grant_projects_path, class: 'dropdown-item' %>
          <%= link_to 'Recycling Plans', recycling_plans_path, class: 'dropdown-item' %>
          <%= link_to 'Need More Info', need_more_info_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Material Sales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Available Items', items_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="#">Orders</a>
          <%= link_to 'WishtList', wishlists_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="#">Join Email List</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Material Donations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'What we take', what_we_take_path, class: 'dropdown-item' %>
          <%= link_to 'Our mobile app', our_mobile_app_path, class: 'dropdown-item' %>
          <%= link_to 'Join Email List', join_email_list_path, class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Press', press_path, class: 'dropdown-item' %>
          <%= link_to 'Who We Are', who_are_we_path, class: 'dropdown-item' %>
          <%= link_to 'Contact', contact_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="#">Legalese</a>
          <%= link_to 'Join Email List', join_email_list_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto social-media-links">
      <li class="nav-item">
        <%= link_to 'https://www.facebook.com/greenGoatshop/', class: 'nav-link pr-5', target: :blank do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to '#', class: 'nav-link pr-5' do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to 'https://twitter.com/greengoatee', class: 'nav-link pr-5', target: :blank do %>
          <i class="fab fa-twitter-square fa-2x"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="greengoat-header-image">
  <%= image_tag 'green.png' %>
</div>
