<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo.svg', height: '50px' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto social-media-links">
      <li class="nav-item">
        <%= link_to 'https://www.facebook.com/greenGoatshop/', class: 'nav-link pr-5', target: :blank do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to '#', class: 'nav-link pr-5' do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to 'https://twitter.com/greengoatee', class: 'nav-link pr-5', target: :blank do %>
          <i class="fab fa-twitter-square fa-2x"></i>
        <% end %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MY ACCOUNT
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Orders', my_orders_path, class: 'dropdown-item' %>
            <%= link_to 'WishtList', wishlists_path, class: 'dropdown-item' %>
            <%= link_to 'Favourite', favourites_path, class: 'dropdown-item' %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'SIGNUP', new_user_registration_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="greengoat-header-image">
  <%= image_tag 'green.png' %>
</div>
