<table>
  <thead>
    <th>Project Title</th>
    <th>Contract Date</th>
    <th>Type Of Project</th>
    <th>Start Date</th>
    <th>Demo Date</th>
    <th>Actions</th>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.contract_date&.strftime('%d-%m-%Y') %></td>
        <td><%= project.type_of_project %></td>
        <td><%= project.start_date&.strftime('%d-%m-%Y') %></td>
        <td><%= project.demo_date&.strftime('%d-%m-%Y') %></td>
        <td><%= link_to "view", admin_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Go Back", admin_reports_path %>
