<div class="devise-bootstrap-form">
  <div class="devise-bootstrap-form-row">
    <div class="devise-bootstrap-form-col">
      <h2 class="text-center p-3 page-title">Buy <%= @item.title %></h2>
      <%= bootstrap_form_for(@order, html: { class: 'p-5', id: 'payment-form' }) do |f| %>
        <%= f.hidden_field :id, value: @item.id %>
        <%= f.hidden_field :amount, value: order_amount(@item) %>
        <%= hidden_field_tag 'order[token]', nil %>
        <%= f.hidden_field :order_type, value: @item.is_a?(Product) ? 'item' : 'group' %>

        <div class="">
          <label for="card-element" class="form-group">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <br>
        <%= f.form_group do %>
          <%= f.submit "Pay $#{order_amount(@item)}", class: "btn green-btn btn-block btn-lg" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  Order.initStripeForm();
</script>
