<div class="row">
  <%= render 'sidebar' %>

  <div class="col-8 col-md-10 col-sm-8 col-xl-10">
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <div class="oval-shaped-graphic">
          <div class="image text-center">
            <%= link_to services_path do %>
              <%= image_tag 'services.jpeg', class: 'rounded-circle', width: '350px', height: '250px' %>
            <% end %>
          </div>

          <div class="oval-text text-center mt-5">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-4">
        <div class="oval-shaped-graphic">
          <div class="image text-center">
            <%= link_to items_path do %>
              <%= image_tag 'buy.jpg', class: 'rounded-circle', width: '350px', height: '250px' %>
            <% end %>
          </div>

          <div class="oval-text text-center mt-5">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xl-4">
        <div class="oval-shaped-graphic">
          <div class="image text-center">
            <%= link_to new_project_path do %>
              <%= image_tag 'donate.png', class: 'rounded-circle', width: '350px', height: '250px' %>
            <% end %>
          </div>

          <div class="oval-text text-center mt-5">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-div mt-5" style="width: 100%;">
    <%= render 'shared/carousel' %>
  </div>
</div>
