<div class="devise-bootstrap-form">
  <div class="devise-bootstrap-form-row">
    <div class="devise-bootstrap-form-col">
      <h2 class="text-center p-3 page-title">What My Stuff Worth</h2>
      <%= bootstrap_form_for(@project, html: { class: 'p-5', id: 'project-form' }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.select :type_of_project, options_for_select(type_of_projects), required: true %>
        <%= f.text_field :address, required: true %>
        <%= f.text_field :city, required: true %>
        <%= f.text_field :state, required: true %>
        <%= f.text_field :zip, required: true %>

        <br>
        <%= f.form_group do %>
          <%= f.submit "Whats my stuff worth", class: "btn green-btn btn-block btn-lg" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
