<!DOCTYPE html>
<html>
  <head>
    <title>greenGoat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "logo.svg" %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body data-stripe-key='pk_test_x7BQNZlks7cWynfPFdrXSnDs'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "HOME", root_path, class: 'nav-link' %>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">NEWSLETTER</a>
          </li>
          <li class="nav-item">
            <span class="nav-link pr-5 pl-5">|</span>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'MY ACCOUNT', edit_user_registration_path, class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <span class="nav-link pr-5 pl-5">|</span>
            </li>

            <li class="nav-item">
              <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'SIGNUP', new_user_registration_path, class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <span class="nav-link pr-5 pl-5">|</span>
            </li>

            <li class="nav-item">
              <%= link_to 'LOGIN', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% unless devise_controller? %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/carousel' %>
    <% end %>
    <div class="container-fluid mt-5 mb-5 pl-5 pr-5">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

    <%= yield :js_init %>
  </body>
</html>
